//四層漢堡手刻
.menu-btn {
    width: 33px;
    height: 27.17px;
    display: block;
    position: relative; 
    span {
        content: '';
        position: absolute;        
        top: 0;
        bottom: 0;
        display: block;
        width: 33px;
        height: 3.66px;
        background-color: $primary;
        box-shadow: 0 7.32px 0px $primary,
                    0 14.64px 0px $primary,
                    0 21.96px 0px $primary;       
    }
}
//hover
.btn-hover-text-white {
    &:hover {        
        color: $white !important;
    }
}
.btn-hover-text-secondary {
    &:hover {        
        color: $secondary !important;
    }
}

.btn-hover-secondary {
    &:hover {        
        background-color: $secondary !important;
    }
}
.btn-hover-primary {
    &:hover {        
        background-color: $primary !important;
    }
}
