body {
    font-family: 'Noto Sans TC', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
p {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

ul, li, a {    
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


